{% extends 'base.html' %} 

{% block content %}

<div class="profile">

  <div class="profile-header">
    <div class="profile-img">
      <img src="{{user.profile.profile_picture}}" />
    </div>

    <div class="profile-description">
      <span>{{ user.username }}</span>
      <p>Bio: {{ profile.bio}}</p>
    </div>

    <div class="profile-actions">
      <a href="{% url 'profile_update' user.profile.id %}">Edit</a>
      <a href="{% url 'logout' %}">Logout</a>
    </div>
  </div>

  <hr />

    <div class="profile-photos">
      {% for post in user.post_set.all %}
      <img src="{{ post.photo_url }}" />
      {% endfor %}
    </div>

</div>
{% endblock %}
