{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </script>
    <title>Djinstagram</title>
</head>

<body>
  <div class="user-view">

    <div class="login-logo">
      Djinstagram
      <br>
      <div class="signup-redirect">
        <a href="{% url 'signup' %}">Don't have an account? Sign Up!</a>
      </div>
    </div>

    
        
    <form class="login-form" method="post" action="{% url 'login' %}">
        {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" class="btn" value="Login">
      <input type="hidden" name="next" value="{% url 'home' %}">
    </form>


</div>
</body>