{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </script>
    <title>Djinstagram</title>
</head>

<body>

  <div class="user-view">

    <div class="registration-logo">
      Djinstagram
      <br>
      <div class="login-redirect">
        <a href="{% url 'login' %}">Already have an account? Login!</a>
      </div>
    </div>
  
  {% if error_message %}
  <p class="error-message">{{ error_message }}</p>
  {% endif %}
  
  <form class="signup-form" method="post" action="{% url 'signup' %}">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" class="btn" value="Sign Up">
  </form>

  </div>

</body>
