{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="https://kit.fontawesome.com/d8a71af2a6.js" crossorigin="anonymous">
    </script>
    <title>Djinstagram</title>
</head>
<body>
    <div class="user-view">

        <header>
            <div class="logo">
                <a href="/">Djinstagram</a>
            </div>
            </a>
            <nav>
                <a href="{% url 'post_create' %}"><i class="fa-regular fa-square-plus"></i></a>
            </nav>
        </header>

        <hr />

        <main class="post-list">
            {% block content %}{% endblock content %}
        </main>

        <footer>
            {% if user %}
            <a href="{% url 'user_logout' %}">
                <i class="fa-solid fa-arrow-right-from-bracket"></i>
            </a>
            {% endif %}
            <a href="/posts/">
                <i class="fa-solid fa-house"></i>
            </a>
            {% if user.id %}
            <a href="{% url 'profile_detail' pk=user.id %}">
                <i class="fa-solid fa-user" id="touch"></i>
            </a>
            {% else %}
            <a href="#">
                <i class="fa-solid fa-user" id="touch"></i>
            </a>
            {% endif %}
        </footer>

    </div>
</body>

</html>