{% extends 'base.html' %}
{% block content %}




{% if user.is_authenticated %}
{% for post in posts %}
<a href="/posts/{{ post.id }}">
  <div class="card">
    <div class="card-content">
      <span class="card-title"></span>
      <img src="{{ post.photo_url}}"/>
      <p>Username : {{post.user.username}} <p>Caption: {{ post.caption}}</p>
        
        <span> Comments: {{post.comments}}</span>
      </a>
      </div>
    </div>
  {% endfor %}

{% else %}
<h1> Djinstagram</h1>
<h2> Please Log in or Sign up to join our community</h2> 
{% endif %}
{% endblock %}