{% extends 'base.html' %} 

{% block content %} 

{% comment %} for post in posts blah blah blah some kind of iterator {% endcomment %}

<div class="post">
  <div class="post-header">
        <p><i class="fa-regular fa-circle-user"></i></p>
        <p>Jeff Goldblum</p>
  </div>


  <div class="post-img">
    <img src="https://wallpaper.dog/large/10839283.jpg" alt="">
  </div>


  <div class="post-likes">
    <div class="post-heart">
        <i class="fa-regular fa-heart"></i>
        <i class="fa-solid fa-heart"></i>
    </div>
    <div class="post-likes-counter">
        123 likes
    </div>
  </div>

  
  <div class="post-description">
    <div class="post-author">
    <p>@jeff_goldblum:</p>
    </div>
    <div class="post-description-text">
        <p>God creates dinosaurs. God destroys dinosaurs. God creates Man. Man destroys God. Man creates Dinosaurs. Yeah, but your scientists were so preoccupied with whether or not they could, they didn't stop to think if they should. You really think you can fly that thing?</p>
    </div>
  </div>
</div>

<hr />


<div class="post">
    <div class="post-header">
          <p><i class="fa-regular fa-circle-user"></i></p>
          <p>Jeff Goldblum</p>
    </div>
  
    <div class="post-img">
      <img src="https://images.unsplash.com/photo-1544005313-94ddf0286df2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8ZmVtYWxlJTIwcG9ydHJhaXR8ZW58MHx8MHx8&w=1000&q=80" alt="">
    </div>
  
    <div class="post-likes">
      <div class="post-heart">
          <i class="fa-regular fa-heart"></i>
          <i class="fa-solid fa-heart"></i>
      </div>
      <div class="post-likes-counter">
        123 likes
      </div>
    </div>
  
    
    <div class="post-description">
      <div class="post-author">
      <p>@jeff_goldblum:</p>
      </div>
      <div class="post-description-text">
          <p>This thing comes fully loaded. AM/FM radio, reclining bucket seats, and... power windows. Checkmate... Eventually, you do plan to have dinosaurs on your dinosaur tour, right? Yeah, but John, if The Pirates of the Caribbean breaks down, the pirates don’t eat the tourists.</p>
      </div>
    </div>
</div>

<hr />

<div class="post">
    <div class="post-header">
          <p><i class="fa-regular fa-circle-user"></i></p>
          <p>Jeff Goldblum</p>
    </div>
  
    <div class="post-img">
      <img src="https://i.pinimg.com/originals/71/9e/80/719e80760999b4c355a723224120eb07.png" alt="">
    </div>
  
    <div class="post-likes">
      <div class="post-heart">
          <i class="fa-regular fa-heart"></i>
          <i class="fa-solid fa-heart"></i>
      </div>
      <div class="post-likes-counter">
        123 likes
      </div>
    </div>
  
    
    <div class="post-description">
      <div class="post-author">
      <p>@jeff_goldblum:</p>
      </div>
      <div class="post-description-text">
          <p>We gotta burn the rain forest, dump toxic waste, pollute the air, and rip up the OZONE! 'Cause maybe if we screw up this planet enough, they won't want it anymore! Jaguar shark! So tell me - does it really exist? I was part of something special. So you two dig up, dig up dinosaurs?</p>
      </div>
    </div>
  </div>

{% endblock content %}
