{% extends 'base.html' %} 

{% block content %} 

{% comment %} for post in posts blah blah blah some kind of iterator {% endcomment %}

<div class="post">

  <div class="post-header">
        <p><i class="fa-regular fa-circle-user"></i></p>
        <p>Jeff Goldblum</p>
  </div>

  <div class="post-img">
    <img src="https://wallpaper.dog/large/10839283.jpg" alt="">
  </div>

  <div class="post-likes">
    <div class="post-heart">
        <i class="fa-regular fa-heart"></i>
        <i class="fa-solid fa-heart"></i>
    </div>
    <div class="post-likes-counter">
        123
    </div>
  </div>

  
  <div class="post-description">
    <div class="post-author">
    <p>@jeff_goldblum:</p>
    </div>
    <div class="post-description-text">
        <p>God creates dinosaurs. God destroys dinosaurs. God creates Man. Man destroys God. Man creates Dinosaurs. Yeah, but your scientists were so preoccupied with whether or not they could, they didn't stop to think if they should. You really think you can fly that thing?</p>
    </div>
  </div>

</div>

{% endblock content %}
