@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

:root {
  --logo-text: 'Satisfy', cursive;
  --logo-color: black;
  --heading-text: 'Helvetica Neue', sans-serif;
  --username-text: 'Helvetica Neue Light', sans-serif;
  --descriptive-text: 'HelveticaNeue-Light', sans-serif;
  --faded-text: rgb(55, 55, 55);
}

/* Styles the base.html */

* {
  margin: 0;
}

body {
  background-color: rgb(60, 60, 60);
  display: flex;
  justify-content: center;
}

header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  box-sizing: border-box;
  height: 80px;
  /* margin-top: 1rem; */
  /* margin-bottom: 1.2rem; */
  padding: 5px 5%;
}

nav a {
  font-size: 3vw;
  color: var(--logo-color);
}

.logo {
  font-family: var(--logo-text);
  font-size: 3vw;
}

.logo a {
  text-decoration: none;
  color: var(--logo-color);
}

footer {
  position: sticky;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
  box-sizing: border-box;
  background-color: white;
  bottom: 0;
  height: 50px;
  width: 480px;
  padding: 10px 5%;
}

footer a {
  font-size: 2vw;
  color: var(--logo-color);
}

.user-view {
  width: 480px;
  background-color: white;
  height: 100vh;
}

.post-list {
  height: calc(100vh - 135px);
  box-sizing: border-box;
  padding: 0px;
  overflow-y: scroll;
}

.login-splash {
  font-family: var(--logo-text);
  height:100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.login-splash a {
  /* text-decoration: none; */
  color: var(--logo-color);
}

/* END BASE.HTML STYLE */

/* Begins Style for Posts, templates/index.html posts/index.html */
.post {
  display: flex;
  flex-direction: column;
  height: auto;
}

.index-username {
  text-decoration: none;
  color: black;
}

.post-header {
  display: flex;
  padding: 10px 4%;
  font-family: var(--heading-text);
  font-size: 2vh;
  font-weight: bold;
  box-sizing: border-box;
}

.post-img {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  overflow: hidden;
  width: 100%;
  height: 480px;
}

.post-img img {
  height: auto;
  max-width: 100%;
  max-height: 480px;
}

.post-likes {
  display: flex;
  padding: 5px 3%;
  font-family: var(--descriptive-text);
  font-size: 2vh;
}

.post-comments {
  padding-left: 1%;
}

.post-description {
  padding: 5px 3%;
  font-family: var(--descriptive-text);
  font-size: 1.75vh;
}

.post-author,
.post-view-comments {
  font-family: var(--heading-text);
  font-size: 1.75vh;
  font-weight: bold;
}

.post-view-comments {
  padding: 2%;
}

.post-view-comments a {
  text-decoration: none;
  color: black;
}
.post-view-comments a:hover {
  color: rgb(5, 5, 114);
}

hr {
  width: 95%;
  margin: auto;
}
/* ENDS Style for Posts, templates/index.html posts/index.html */

/* Style for profile/ (profile page) */
.profile-header {
  display: flex;
  margin: 1%;
}

.profile-img img {
  border-radius: 50%;
}

.profile-img i {
  font-size: 10vw;
}

.profile-description {
  display: flex;
  flex-direction: column;
  margin-left: 3%;
  margin-top: 5%;
  font-family: var(--descriptive-text);
  font-size: 1.75vh;
}

span.profile-username {
  font-family: var(--heading-text);
  font-size: 3vh;
  text-align: left;
}

span.profile-realname {
  font-family: var(--heading-text);
  font-size: 2vh;
  text-align: left;
}

.profile-actions a {
  text-decoration: none;
}

.profile-actions button {
  background-color: white;
  color: black;
  border: 3px solid #e7e7e7;
}

.profile-actions button:hover {
  background-color: #e7e7e7;
}

.profile-photos {
  display: flex;
  flex-flow: row wrap;
  width: 98%;
  margin: auto;
  margin-top: 1%;
}

.photo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
  width: 33%;
  height: 160px;
  background-color: black;
}

.profile-photos img {
  height: auto;
  max-width: 100%;
  max-height: 160px;
}
/*END style for profile*/

/* Style for posts/<pk>/ (view comments/detail page) */
.delete-post {
  background-color: rgb(148, 6, 6);
  color: white;
}

.empty-comments {
  font-family: var(--descriptive-text);
  font-style: italic;
  font-size: 1.7vh;
  padding: 2% 3%;
}

.comments-list {
  padding: 1% 3%;
}

.comment {
  padding: 1%;
  font-family: var(--descriptive-text);
  font-weight: light;
  font-size: 1.7vh;
}

.add-comment,
textarea {
  width: 90%;
  margin: 1% 5%;
  font-family: var(--descriptive-text);
  font-weight: light;
  font-size: 1.7vh;
}

.add-comment input[type="submit"] {
  background-color: white;
  color: black;
  border: 3px solid #e7e7e7;
}

.add-comment input[type="submit"]:hover {
  background-color: #e7e7e7;
}

span.user-reference {
  font-weight: bold;
}
/* End style for comments/detail page */

/* Style for Post Create Page */
.create-post {
  font-family: var(--heading-text);
  font-size: 2vh;
  text-align: center;
}

.create-post input[type="submit"] {
  background-color: white;
  color: black;
  border: 3px solid #e7e7e7;
}

.create-post input[type="submit"]:hover {
  background-color: #e7e7e7;
}
/* End Style for Post Create Page */

/* Style for registration/signup.html */
.registration-logo {
  font-family: var(--logo-text);
  font-size: 3vw;
  text-align: center;
  padding-top: 25%;
}

.registration-logo a {
  text-decoration: none;
  color: var(--logo-color);
}

.login-redirect a {
  font-size: 2vw;
}
.login-redirect a:hover {
  font-size: 2vw;
  color: rgb(5, 5, 114);
}

.error-message {
  color: rgb(148, 6, 6);
  text-align: center;
  margin: 5%;
}

.signup-form {
  display: flex;
  flex-direction: column;
  font-family: var(--heading-text);
  font-weight: bold;
}

.signup-form p {
  display: flex;
  flex-direction: column;
}

.signup-form label,
input,
.helptext {
  width: 90%;
  margin: 0px 5%;
}

.signup-form .helptext,
.signup-form ul {
  font-family: var(--descriptive-text);
  font-style: italic;
  font-weight: lighter;
  color: var(--faded-text);
  font-size: 1.75vh;
}

.signup-form input[type='submit'] {
  align-self: center;
  width: fit-content;
  font-family: var(--heading-text);
  font-weight: bold;
  margin-top: 4%;
}
/* END Style for registration/signup.html */

/* Style for registration/login.html */
.login-logo {
  font-family: var(--logo-text);
  font-size: 3vw;
  text-align: center;
  padding-top: 50%;
}

.login-logo a {
  text-decoration: none;
  color: var(--logo-color);
}

.signup-redirect a {
  font-size: 2vw;
}
.signup-redirect a:hover {
  font-size: 2vw;
  color: rgb(5, 5, 114);
}

.errorlist.nonfield {
  color: rgb(148, 6, 6);
}

.login-form {
  display: flex;
  flex-direction: column;
  font-family: var(--heading-text);
  font-weight: bold;
}

.login-form p {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
}

.login-form label,
input,
.helptext {
  width: 90%;
  margin: 0px 5%;
}

.login-form input[type='submit'] {
  align-self: center;
  width: fit-content;
  font-family: var(--heading-text);
  font-weight: bold;
  margin-top: 4%;
}
/* END Style for registration/login.html */

/* Webkit for scroll in base.html */

::-webkit-scrollbar {
  display: none;
}
